{% extends 'base.html' %}

{% block navBar %}
  <li class="nav-item">
      <a class="nav-link" href="../login/" style=color:white>Log In</a>
  </li>
  <li class="nav-item">
      <div class="nav-link">&nbsp;|&nbsp;</div>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="../signup/" style=color:white>Sign Up</a>
  </li>
{% endblock %}


{% block content %}
  <div class="col-lg-5 col-md-6 mb-5">
      <div class="card h-100 login"> <!-- Changing to h-50 will make the white box smaller -->

          <div class="card-body">
              <h4 class="card-title">
                  <p align="center">Login</p>
              </h4>

              <p class="card-text">
                  <form method="post">
                    {% csrf_token %}
                    Account name: <br>
                    <input type="text" name="username" value="">
                    <br>
                    Password: <br>
                    <input type="password" name="password" value="">
                    <br><br>
                    <input type="submit" value="Log In">
                  </form>
<!-- This part is the same as sign up, and instead of logging in it will just send data to a database. I do not know how to create a solid log in at the moment -->
              </p>
          </div>
      </div>
   </div>
  {% endblock %}
